h2 
{
	background-color: black;
	margin-top: 0px; 
	margin-bottom: 10px;
	border-collapse: collapse;
}
body
{
	background-color: black;
}

.panel 
{
	padding: 20px grey;
	background-color: black;
	border: 1px solid grey;
	border-collapse: collapse;
	width: 100%;
}

.set{
	border-style: all;
	background-color: black;
	color:white;
	padding: 10px;
	text-align: center;
}

.set:hover {
	background-color: white;
	transition: 0.3s;
	color: black;
}
.img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.profile
{
	margin: 0px 44%;
	display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.midline{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 200px;
	height: 220px;
}

.pad{
	margin: 20px 280px;
	height: 100%;
	width: 750px;
	background-color: rgba(0,0,30,0.6);

}

.imageback
{
  padding: 10px;
}

.img{
	opacity: 0.9;
}

.img:hover{
	opacity: 1;
}