body
{
	background-image: url(back.jpg);
	background-size: cover;
}	

.tab{
	margin: 20px 220px;
	width: 890px;
	height: 540px;
	background: rgba(0, 0, 13, 0.7);
	border: 1px solid black;
	border-radius: 5px;
}

.text
{
  color: white;
}

.texxt
{
  text-decoration: none; 
  color: white;
}

.texxt:hover
{
  color: red;
}

.header
{ 
  margin: 0px;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 13, 0.7);
  border: 1px solid black;
}

.btn
{
  background-color: black;
  color: white;
  padding: 10px;
  width: 80px;
  margin: 9px 13px;
  border: 1px solid grey;
}

.btn:hover
{
  background-color: white;
  color: black;
  transition: 0.6s; 
}